.menu {
    text-transform: uppercase;
    background: #282828;
    color: white;
    font-size: 1.3em;
    font-family: 'Antonio-Regular';
    /* padding: 10px; 
    padding-top: 10px; */
    padding: 1em 0;
}
.menu .active > li > a {
    color: white !important;
    background: #1ac7c3;
}
.menu .logo {
    padding-left: 10px;
    padding-right: 20px;
}
.menu > li > a {
    color: white !important;
    background: #1ac7c3;
}
.menu > li > a:hover {
    color: white !important;
    background: #1ac7c3;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: #1ac7c3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: inherit;
    color: inherit;
}
a {
    color: inherit;
}
a:hover a:focus {
    color: none !important;
}
