<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <%- title %>
  </title>

  <link rel="stylesheet" href="/assets/css/market.css" />


</head>

<body>

  <!-- Navigation -->
  <nav class="nav">
    <ul class="menu">
      <li class="menu-item"><a href="#">Lorem</a></li>
      <li class="menu-item"><a href="#">Nobis</a></li>
      <li class="menu-item"><a href="#">Nostrum</a></li>
      <li class="menu-item"><a href="#">Quia</a></li>
      <li class="menu-item"><a href="#">Non</a></li>
      <li class="menu-item"><a href="#">Voluptate</a></li>
      <li class="menu-item"><a href="#">Magni</a></li>
    </ul>
    <!-- .menu -->
  </nav>
  <!-- .nav -->

  <%- yield %>

</body>

</html>
