html
  head 
    link(rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/assets/img/favicon.ico" type="image/x-icon")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/assets/css/todo.css")
    
  body
    script(src="//fb.me/react-0.10.0.js")
    script(src="//fb.me/JSXTransformer-0.10.0.js")
    script(src="/assets/js/todo/hub.js")
    script(src="/assets/js/todo/todo-list.jsx")