!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      In Recent News | Fivecat.gq

    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial", :rel => "stylesheet"}
    %link{:href => "assets/css/default.css", :rel => "stylesheet", :media => "all"}
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet", :media => "all"}

  %body
    #header-wrapper
      #header.container
        #logo
          %h1
            %a{:href => "/"}
              FIVECAT.GQ
    #page-wrapper
      #page.container
        .title
          %h2
            In Recent News
        #news

    %script{:type => "text/javascript", :src => "assets/js/jquery.min.js"}
    %script{:type => "text/javascript", :src => "assets/js/newsblur.js"}
