<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>
    <%- title %>
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />

  <style>
    ::-webkit-scrollbar {
      display: none;
    }

  </style>

</head>

<body>

  <!-- Header -->
  <section id="header">
    <header>
      <span class="image avatar"><img src="/images/avatar.png" alt="" /></span>
      <h1 id="logo"><a href="/">fivecat</a></h1>
      <p>A news aggregator</p>

    </header>
    <nav id="nav">
      <!--
					<ul>
						<li><a href="#one" class="active">trending</a></li>
						<li><a href="#two">startups</a></li>
						<li><a href="#three">jokes</a></li>
						<li><a href="#four">life tips</a></li>
					</ul>
                  -->
    </nav>
    <footer>
      <ul class="icons">
        <li>Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a></li>
        <li>Design by <a href="https://www.html5up.net" title="Responsive HTML5 and CSS3 site templates">HTML5 UP!</a></li>
      </ul>
    </footer>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="one">
        <div class="container">
          <header class="major">
            <h2>
              <%- title %>
            </h2>
          </header>
        </div>
      </section>

      <!-- Three -->
      <section id="three">

        <div class="container" id="search">
          <form action="https://duckduckgo.com/">
            <input type="text" name="q" placeholder="Search the web" autofocus />
          </form>

        </div>

        <div class="container" id="news">

        </div>
      </section>

    </div>

  </div>

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrollzer.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="/assets/js/main.js"></script>

  <script src="/app/functions/functions.js"></script>
  <script src="/app/menu/menu.js"></script>
  <script src="/app/loading/loading.js"></script>

  <%- yield %>


</body>

</html>
