---
title: hacker news
layout: sidebar
---

<script type="text/javascript">
    document.getElementById("news").innerHTML = "<iframe src='https://app.hackerwebapp.com' frameborder='0' style='overflow: hidden; height: 100%; width: 100%; position: absolute;'></iframe>";
</script>

</body>