---
title: life pro tips
layout: layout
---

<script>
  var url = "https://www.reddit.com/r/lifeprotips/hot.json";

  document.addEventListener('DOMContentLoaded', function () {

    var newsAPI = url;
    $.getJSON(newsAPI, function (json) {
        var children = json.data.children;
        console.log(children);
        $.each(children, function (key, value) {

            var title = children[key]['data']['title'];

            if ( title.substring(0, 3) == "LPT" ) {
                title = title.replace("LPT: ");
                var article = "<div class='article'>- " + title + "</div>";
                $('#news').append(article);

            }

        });
    });
  }, false);
</script>